@model Cascade.WebShop.ViewModels.AddressViewModel

<h4>Address</h4>
<div class="form-group">
    <label class="col-sm-3 control-label" for="@Html.FieldIdFor(m=>m.Name)">@T("Name")</label>
    <div class="col-sm-9">@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })</div>
</div>
<div class="form-group">
    <div class="col-sm-3 control-label">@Html.LabelFor(m => m.Address, T("Address"))</div>
    <div class="col-sm-9">@Html.TextBoxFor(m => m.Address, new { @class = "form-control" })</div>
</div>
<div class="form-group">
    <div class="col-sm-3 control-label">@Html.LabelFor(m => m.City, T("City"))</div>
    <div class="col-sm-9">@Html.TextBoxFor(m => m.City, new { @class = "form-control" })</div>
</div>
<div class="form-group">
    <div class="col-sm-3 control-label">@Html.LabelFor(m => m.State, T("State"))</div>
    <div class="col-sm-9 ">@Html.TextBoxFor(m => m.State, new { @class = "form-control" })</div>
</div>
<div class="form-group ">
    <div class="col-sm-3 control-label">@Html.LabelFor(m => m.Postcode, T("Postcode"))</div>
    <div class="col-sm-9">@Html.TextBoxFor(m => m.Postcode, new { @class = "form-control" })</div>
</div>
<div class="form-group ">
    <div class="col-sm-3 control-label">@Html.LabelFor(m => m.CountryCode, T("Country"))</div>
    <div class="col-sm-9">@Html.DropDownListFor(m => m.CountryCode, new SelectList(Model.CountryCodes, "Value", "Text", Model.CountryCode), new { @class = "form-control" })</div>
</div>

