@using System.Web.Mvc.Html
@using System.Web.Mvc
@using Cascade.WebShop.ViewModels
@using Orchard.ContentManagement;

@{
    var addresses = (AddressesViewModel)Model.Addresses;
    var contentItem = (ContentItem)Model.ContentItem;


    Style.Require("Cascade.WebShop.Common");
    Script.Require("jQuery");
}
@*@using (Script.Foot())
    {
        <script type="text/javascript">
            // NOTES:
            //  1. jQuery must be enabled for this to work
            //  2. Yout must add id='putThisInAContainer' to some element in this template
            $("#putThisInAContainer").closest(".zone").addClass("container");
        </script>
    }*@

@using (Script.Foot())
{
    <script type="text/javascript">
        $("#@Html.FieldIdFor(m => addresses.ShippingAddressSupplied)").click(function () {
            $("#shippingAddressWrapper").toggleClass("hidden");
        });
        @if (addresses.ShippingAddressSupplied)
            {
            <text>$("#shippingAddressWrapper").removeClass("hidden");</text>
            }
    </script>
}
<style>
    .dateTimeInline input {
        display: inline;
        width: 15em;
    }
</style>
<div class="container">
    <div id='putThisInAContainer' class="row">
        <div class="col-sm-12">
            <h2>
                Address Details
            </h2>
            <p>@T("Please provide us with your invoice and shipping details. If the shipping address is the same then you only need to provide an invoice address")</p>
            @Html.ValidationSummary()
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            @using (Html.BeginFormAntiForgeryPost(Url.Action("SelectAddress", "Checkout", new { area = "Cascade.WebShop" }), FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.EditorFor(m => addresses.InvoiceAddress)

                <h2>Shipping Details </h2>

                <div style="margin:20px 0;">
                    @Html.EditorFor(m => addresses.ShippingAddressSupplied)
                    <label for="@Html.FieldIdFor(m => addresses.ShippingAddressSupplied)" class="forcheckbox"> @T("Different Shipping Address?")</label>
                </div>
                <div id="shippingAddressWrapper" class="hidden">
                    @Html.EditorFor(m => addresses.ShippingAddress)
                </div>

                <div class="well form-actions">
                    <a class="btn btn-info" href="@Model.ContinueShoppingUrl">Return to shopping</a>
                    <button type="submit" class="btn btn-primary pull-right">@T("Order Now")</button>
                </div>
            }
        </div>
    </div>
</div>
